<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head">
</head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">
<br>
<h2 style="text-align: center;text-shadow:3px;font-weight: bold;font-family: 'Times New Roman', Times, serif;padding-top: 20px;text-decoration:underline;text-decoration-color: darkslategray;">Brand Report</h2>
<div class="col-md-12 bg-white text-right">
	<button type="button" class="btn btn-warning ml-2" id="download-csv">Download Csv</button>
</div>
<br>

<div class="row">
	&nbsp;
</div>
<div class="row">

 <div class="col-12" style="text-align-last: center;">
	<table class="table table-striped" id="brandReport-table">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Brand</th>
	      <th scope="col">Category</th>
	    </tr>
	  </thead>
	  <tbody>
	    
	  </tbody>
	</table>

</div>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/brandReport.js}"></script>

</body>	

</html>