<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<!-- https://www.shutterstock.com/shutterstock/photos/1173161497/display_1500/stock-photo-blurred-image-of-stock-inventory-shelf-modern-logistics-smart-warehouse-management-of-wholesale-or-1173161497.jpg -->
<!-- style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-U6C4om3PPlJGGUjBfKFbo-4LcBxmT4h6FJYlB11l9w&s');" -->
<div class="container">
<hr><hr>
<h3 class="fa fa-home">Point of Sale</h3>
<hr>
<p>
	You can specify background images<br>
	for any visible HTML element.<br>
	In this example, the background image<br>
	is specified for a p element.<br>
	By default, the background-image<br>
	will repeat itself in the direction(s)<br>
	where it is smaller than the element<br>
	where it is specified. (Try resizing the<br>
	browser window to see how the<br>
	background image behaves.
	You can specify background images<br>
	for any visible HTML element.<br>
	In this example, the background image<br>
	is specified for a p element.<br>
	By default, the background-image<br>
	will repeat itself in the direction(s)<br>
	where it is smaller than the element<br>
	where it is specified. (Try resizing the<br>
	browser window to see how the<br>
	background image behaves.
	You can specify background images<br>
	for any visible HTML element.<br>
	In this example, the background image<br>
	is specified for a p element.<br>
	By default, the background-image<br>
	will repeat itself in the direction(s)<br>
	where it is smaller than the element<br>
	where it is specified. (Try resizing the<br>
	browser window to see how the<br>
	background image behaves.
	</p>
 <!-- Top row with form-->
<!-- <div class="row">
	 <div class="col-2">
	 	<a th:href="@{/ui/employee}" title="Employees"> <i class="fas fa-users"></i> </a>
	 </div>	
	 <div class="col-2">
	 	<a th:href="@{/ui/admin}" title="Admin"> <i class="fas fa-cog"></i> </a>
	 </div>	
</div>  -->



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>