<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>


<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<!-- https://www.shutterstock.com/shutterstock/photos/1173161497/display_1500/stock-photo-blurred-image-of-stock-inventory-shelf-modern-logistics-smart-warehouse-management-of-wholesale-or-1173161497.jpg -->
<!-- style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-U6C4om3PPlJGGUjBfKFbo-4LcBxmT4h6FJYlB11l9w&s');" -->
<!-- 
<section class="background firstsection">
	<div class="box-main">
		<div class="firsthalf">
			<p class="text-big">Point of Sale</p>
			<p class="text-small">A User friendly application for Inventory Management</p>
				<div class="button">
					
					<button class="btn" th:href="@{/site/login}">Get Started</button>

				</div>
			</div>
			
	</div>
</section> -->




<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>