<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<body>

	<nav th:replace="snippets.html :: name_app_navbar"></nav>

	<div class="container">

		<h3 style="font-weight: bold;font-family: 'Times New Roman', Times, serif;padding-top: 15px;">Order</h3>
		<br>
		<div class="row">
			<div class="col-12">
				<button type="button" class="btn btn-success" id="add-order-button">Create</button>
				&nbsp;

			</div>
		</div>

		<br>

		<!-- Blank Row -->
		<div class="row">
			&nbsp;
		</div>
		<div class="row">

			<!-- Table -->
			<div class="col-12">
				<table class="table table-striped" id="order-table">
					<thead>
						<tr style="background-color: rgb(36, 36, 36);color: white;">
							<th scope="col">Order ID</th>
							<th scope="col">Order Time</th>
							<th scope="col">Updated Time</th>
							<th scope="col">Status</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>

			</div>
		</div>


		<div class="modal" id="add-order-modal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
			<div class="modal-dialog d-flex justify-content-center" style="min-width: 50%;">
				<div class="modal-content" style="padding:2%;padding-left: 2%;">
					<div class="modal-header">
						<h3 style="padding-left:35%" class="modal-title" id="exampleModalLabel2">Place Order</h3>
						<!-- <button type="button" id="cancel-order" aria-label="Close">&times;</button> -->
					</div>
					<br>
					<div class="modal-body">
						<form id="add-order-form">
							<table id="add-order-table" class="add-order-table">
								<tr id="add-order-row" class="add-order-row">
									<td>
										<div class="form-outline mb-4">
											<label class="form-label" for="barcode"> Barcode </label>
											<select name="barcode" required id="barcode-dropdown-menu"
												style="width: 165px;height: 35px;border-radius: 4px;color: grey;">
											</select>
										</div>
									</td>
									<td>
										<div class="form-outline mb-4" style="padding-right:35px">
											<label class="form-label" for="sellingPrice">Selling Price</label>
											<input type="number" id="sellingPrice" min="0" required class="form-control"
												name="sellingPrice" placeholder="Enter Selling Price" />
										</div>

									</td>
									<td>
										<div class="form-outline mb-4">
											<label class="form-label" for="quantity">Quantity</label>
											<input type="number" id="quantity" min="1" required class="form-control"
												name="quantity" placeholder="Enter Quantity" />
										</div>
									</td>
								</tr>
							</table>
							<div style="float:right;margin-right: 4%;">
								<button type="submit" class="btn btn-success delete-new-row" aria-hidden="true"
									id="add-order-item">Add Item</button>
							</div>
							<br>
						</form>
						<br>
						<br>
						<div class="row">
							<div class="col-12">
								<table class="table table-striped" id="order-item-table">
									<thead>
										<tr style="background-color: rgb(36, 36, 36);color: white;">
											<th scope="col">Barcode</th>
											<th scope="col">Selling Price</th>
											<th scope="col">Quantity</th>
											<th scope="col">Actions</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>

							</div>
						</div>
						<br>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal" id="cancel-order-button">Cancel</button>
						<button type="button" class="btn btn-success" id="add-order">Place</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="snippets.html :: name_footer"></footer>
	<script th:src="@{/static/order.js}"> </script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>

</html>
