<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    
<h3 style="font-weight: bold;padding-top: 25px;">Sales Report</h3><br>
<!-- <div class="col-md-12 bg-white text-right">
	<button type="button" class="btn btn-warning ml-2" id="download-csv">Download Csv</button>
</div> -->
 <!-- Top row with form-->
 <div class="row">
	 <div class="col-12">
		<form class="form-inline" id="sales-report-form">
			
			<table>
				<tbody><tr>
					<td>
						<div class="form-group">
							<label for="inputStartDate" class=" col-form-label">Start Date</label>
							<div style="padding-left:8px">
							  <input type="date" class="form-control" name="startingDate" id="inputStartDate" placeholder="enter starting date">
							</div>
						  </div>
					</td>
					<td>
						<div class="form-group" style="padding-left:50px">
							<label for="inputEndDate" class="col-form-label">End Date</label>
							<div style="padding-left:8px">
							  <input type="date" class="form-control" name="endingDate" id="inputEndDate" placeholder="enter ending date">
							</div>
						  </div>
					</td>
					<td>
						<div class="form-group" style="margin-top:2px;padding-left:50px">
                                <label class="form-label" for="brand">Brand</label>
								<div style="margin-top:2px;padding-left:8px">
									<select name="brand" class="form-control" id="inputProductBrandName"><option selected="" disabled="" value="">Select Brand</option><option value="nike">nike</option><option value="adidas">adidas</option><option value="gucci">gucci</option><option value="asics">asics</option><option value="milton">milton</option><option value="apple">apple</option><option value="underarmour">underarmour</option><option value="hello">hello</option></select>								 
								</div>
						  </div>
					</td>
					<td>
						<div class="form-group" style=" padding-left: 50px ; margin-top:2px ; ">
                                <label class="form-label" for="category">Category</label>
								<div style="margin-top:2px;padding-left:8px">
									<select name="category" class="form-control" id="inputProductBrandCategoryName"><option selected="" disabled="" value=""> Select Category</option></select>
								</div>
						  </div>
					</td>
				</tr>
				<tr>
					<td>
						<div>
							<br>
						<button type="button" class="btn btn-success" id="get-sales-report">Search</button>
						<button type="button" class="btn btn-success ml-2" id="download-csv">Download Report</button>
						</div>
					</td>
				</tr>
			</tbody></table>
				<!-- <button type="button" class="btn btn-primary" id="get-sales-report">Search</button>
				<button type="button" class="btn btn-warning ml-2" id="download-csv">Download Csv</button> -->
		</form>
	 </div>	
</div> 

<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="salesReport-table">
	  <thead>
	    <tr style="background-color: rgb(36, 36, 36);color: white;">
	      <th scope="col">Brand</th>
		  <th scope="col">Category</th>
	      <th scope="col">Quantity</th>
	      <th scope="col">Revenue</th>
	    </tr>
	  </thead>
	  <tbody>
	    
	  </tbody>
	</table>

</div>
</div>


</div> 
<!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/salesReport.js}"></script>

</body>	

</html>
