<head th:fragment="name_head">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="baseUrl" th:attr="content=${baseUrl}">
<meta name="userRole" th:attr="content=${info.getRole()}">

<script src="https://kit.fontawesome.com/c30beb553f.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/static/app.css}">

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-white mb-1" th:fragment="name_site_navbar">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo1.png}" class="d-inline-block align-top" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/site/features}">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/site/pricing}">Pricing</a>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
       <li class="nav-item">
        <a class="btn btn-primary" style="background-color:darkslategray;border:0px;" th:href="@{/site/login}">Login</a>
      </li>
    </ul>
 
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light  mb-1" th:fragment="name_app_navbar">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo1.png}" class="d-inline-block align-top" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" id="home">
        <a class="nav-link" th:href="@{/ui/home}">Home</a>
      </li>
      <li class="nav-item" id="brand">
        <a class="nav-link" th:href="@{/ui/brand}">Brand</a>
      </li>
      <li class="nav-item" id="product">
        <a class="nav-link" th:href="@{/ui/product}">Product</a>
      </li>
      <li class="nav-item" id="inventory">
        <a class="nav-link" th:href="@{/ui/inventory}">Inventory</a>
      </li>
      <li class="nav-item" id="order">
        <a class="nav-link" th:href="@{/ui/order}">Order</a>
      </li>
      
      <!-- <li class="nav-item">
     <div class="dropdown">
        <div>Reports</div>
        <div class="dropdown-content">
          <a class="nav-link" th:href="@{/ui/brandReport}">Brand Report</a>
          <a class="nav-link" th:href="@{/ui/inventoryReport}">Inventory Report</a>
          <a class="nav-link" th:href="@{/ui/salesReport}">Sales Report</a>
        
        </div>
      </div> 
      </li> -->
      <li class="nav-item" id="brand-report">
        <a class="nav-link" th:href="@{/ui/brandReport}">Brand Report</a>
      </li>
      <li class="nav-item" id="inventory-report">
        <a class="nav-link" th:href="@{/ui/inventoryReport}">Inventory Report</a>
      </li>
      <li class="nav-item" id="sales-report">
        <a class="nav-link" th:href="@{/ui/salesReport}">Sales Report</a>
      </li>
      <li class="nav-item" id="daily-sales">
        <a class="nav-link" th:href="@{/ui/scheduler}">Daily Sales</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" th:href="@{/ui/employee}">Employees</a>
      </li> -->
      <li class="nav-item" id="user">
        <a class="nav-link" th:href="@{/ui/user}">Admin</a>
      </li>
      <!-- <li class="nav-item" id="signup">
        <a class="nav-link" th:href="@{/ui/signup}">signup</a>
      </li> -->
    </ul>
   <!-- <ul>
      <li class="navbar-nav ml-auto">
        <div class="dropdown">
           <div>
            <img src="https://media.geeksforgeeks.org/img-practice/user_web-1598433228.svg" alt="baliharsingh99880 Avatar">
           </div>
           <div class="dropdown-content">
             <a class="nav-link" th:href="@{/session/logout}">Logout</a>
           </div>
         </div> 
         </li>
    </ul>  -->
    <!-- <ul class="navbar-nav ml-auto">
    <div class="dropdown" style="float:right;">
      <img class="" src="https://media.geeksforgeeks.org/img-practice/user_web-1598433228.svg" alt="baliharsingh99880 Avatar">
      <div class="dropdown-content">
        <a href="#"> [[${info.getEmail()}]] </a>
        <a class="nav-link" th:href="@{/session/logout}">Logout</a>
      </div>
    </div>
  </ul> -->
  <ul class="navbar-nav ml-auto">
  <div class="dropdown" style="float:right;">
    <img class="" src="https://media.geeksforgeeks.org/img-practice/user_web-1598433228.svg" alt="baliharsingh99880 Avatar">
    <div class="dropdown-content">
      <a href="#">[[${info.getEmail()}]]</a>
      <a th:href="@{/session/logout}">Logout</a>
      <!-- <a href="#">Link 3</a> -->
    </div>
  </div>
</ul>
   <!-- <ul class="navbar-nav ml-auto">
	    
      <li id="userProfileId" class="header-main__left-list-item p-relative" aria-expanded="false" data-expandable="false">
      <div class="dropdown" style="float:right;">
        <div>
        <img class="" src="https://media.geeksforgeeks.org/img-practice/user_web-1598433228.svg" alt="baliharsingh99880 Avatar">
      </div>
      <div class="dropdown-content">
        <a href=""> [[${info.getEmail()}]] </a>
        <a class="nav-link" th:href="@{/session/logout}">Logout</a>
      </div>
    </div> 
    </li>
    <li class="navbar-text">
      &nbsp;
      [[${info.getRole()}]] 
      &nbsp;
   </li>
  </ul> -->
    
        
  </div>
</nav>

<footer class="footer  mt-1" th:fragment="name_footer">
	Copyright Increff 2019
	&nbsp;
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/static/app.js}"/></script>
	<script th:src="@{/static/papaparse.min.js}"/></script>
	
</footer>






<!-- <li class="navbar-text">
	    	[[${info.getEmail()}]]
	    </li>
      <div>&nbsp;&nbsp;</div> 
      <li class="navbar-text">
         [[${info.getRole()}]] 
	    	&nbsp;&gt;&nbsp;
	    </li>
	    <li class="nav-item">
	    	<a class="nav-link" th:href="@{/session/logout}">Logout</a>
	    </li> -->
