


.btn-primary {
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    /* width: 80%; */
}

.btn-secondary {
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    /* width: 80%; */
}


label {
    align-items: center;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-left: 20%;
}

body .modal-ku {
    width: 750px;
}